hr {
    background-color: red;
    height: 2px;
    border: 0px;
}

input::placeholder {
    color: rgb(203, 202, 202);
}

caption {
    font-size: x-large;
    font-weight: 700;
    margin: 20px 0px;
}

table, th, td {
    border: black 1px solid;
    border-collapse: collapse;
    text-align: center;
}
table {
    width: 100%;
    margin-bottom: 30px;
}

table th {
    background-color: pink;
}

table td {
    padding: 10px 10px;
}

#result {
    text-align: center;
    font-size: large;
    font-weight: 700;
    margin-bottom: 30px;

}

.inputID {
    text-align: left;
    width: 400px;
}

#checkID {
    padding-left: 10px;
}
